{% extends 'yield/navyield.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Forcasts|Property Mangement System</title>
	<meta name="viewport"content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
	<link rel="stylesheet" href="{% static 'css/forcasts.css' %}">
</head>
<body>
<div class="forcast-container">
    <table class="forcast-table">
        <tr>
            <th class="forcast-type"> forecasts </th>
            <th class="forcast-month"> Jan </th>
            <th class="forcast-month"> Feb </th>
            <th class="forcast-month"> Mar </th>
            <th class="forcast-month"> Apr </th>
            <th class="forcast-month"> May </th>
            <th class="forcast-month"> Jun </th>
            <th class="forcast-month"> Jul </th>
            <th class="forcast-month"> Aug </th>
            <th class="forcast-month"> Sep </th>
            <th class="forcast-month"> Oct </th>
            <th class="forcast-month"> Nov </th>
            <th class="forcast-month"> Dec </th>
        </tr>
        <tr>
            <td class="forcast-type-m">Individual Rooms on the books</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>

        </tr>
        <tr>
            <td class="forcast-type-m">Individual Last year same time</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>

        </tr>
        <tr>
            <td class="forcast-type-m">Individual Last year final</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>

        </tr>
        <tr>
            <td class="forcast-type-m">Individual 2 years ago final</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>

        </tr>
       
        <tr>
            <td class="forcast-type-m">Groups Total Sold</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>

        </tr>
        <tr>
            <td class="forcast-type-m">Allotment Sold</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>

        </tr>
        <tr>
            <td class="forcast-type-m">Groups Tentative Sold</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>

        </tr>
        <tr>
            <td class="forcast-type-m">Now Allotment Tent Sold</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>
            <td class="forcast-month-m">700</td>

        </tr>
    </table>
</div>
</body>
<script>
    var spanNav = document.getElementById("span-nav")
    spanNav.innerHTML = "Forcasts"
</script>
{% endblock content %}