{% extends 'yield/navyield.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Main Yield|Property Mangement System</title>
	<meta name="viewport"content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
	<link rel="stylesheet" href="{% static 'css/mainyield.css' %}">
</head>
<body>
    <div class="mainyield-container">
        <div class="mainyield-container-1">
            <table class="mainyield-table-1">
                <tr>
                    <th class="th-1">Final Advised rates</th>
                    <th class="th-other">Sun <br><span>14/4</span></th>
                <th class="th-other"> Mon <br><span>15/4</span></th>
                <th class="th-other"> Tue <br><span>16/4</span></th>
                <th class="th-other"> Wed <br><span>17/4</span></th>
                <th class="th-other"> Thu <br><span>18/4</span></th>
                <th class="th-other"> Fri <br><span>19/4</span></th>
                <th class="th-other"> Sat <br><span>20/4</span></th>
                <th class="th-other">Sun <br><span>21/4</span></th>
                <th class="th-other"> Mon <br><span>22/4</span></th>
                <th class="th-other"> Tue <br><span>23/4</span></th>
                <th class="th-other"> Wed <br><span>24/4</span></th>
                <th class="th-other"> Thu <br><span>25/4</span></th>
                <th class="th-other"> Fri <br><span>26/4</span></th>
                <th class="th-other"> Sat <br><span>27/4</span></th>
                <th class="th-other">Sun <br><span>21/4</span></th>
                <th class="th-other"> Mon <br><span>22/4</span></th>
                <th class="th-other"> Tue <br><span>23/4</span></th>
                <th class="th-other"> Wed <br><span>24/4</span></th>
                <th class="th-other"> Thu <br><span>25/4</span></th>
                <th class="th-other"> Fri <br><span>26/4</span></th>
                <th class="th-other"> Sat <br><span>27/4</span></th>


                </tr>
                <tr>
                    <td class="th-1-m">Final Advised Price</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">Override Price</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">Benchmark</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">Own Rate</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">ADR NOW</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">Occupancy %</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">Notes</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
            </table>
        </div>
        <div class="mainyield-container-1">
            <table class="mainyield-table-2">
                <tr>
                    <th class="th-1"><select name="" id="">select</select></th>
                    <th class="th-other">Sun <br><span>14/4</span></th>
                <th class="th-other"> Mon <br><span>15/4</span></th>
                <th class="th-other"> Tue <br><span>16/4</span></th>
                <th class="th-other"> Wed <br><span>17/4</span></th>
                <th class="th-other"> Thu <br><span>18/4</span></th>
                <th class="th-other"> Fri <br><span>19/4</span></th>
                <th class="th-other"> Sat <br><span>20/4</span></th>
                <th class="th-other">Sun <br><span>21/4</span></th>
                <th class="th-other"> Mon <br><span>22/4</span></th>
                <th class="th-other"> Tue <br><span>23/4</span></th>
                <th class="th-other"> Wed <br><span>24/4</span></th>
                <th class="th-other"> Thu <br><span>25/4</span></th>
                <th class="th-other"> Fri <br><span>26/4</span></th>
                <th class="th-other"> Sat <br><span>27/4</span></th>
                <th class="th-other">Sun <br><span>21/4</span></th>
                <th class="th-other"> Mon <br><span>22/4</span></th>
                <th class="th-other"> Tue <br><span>23/4</span></th>
                <th class="th-other"> Wed <br><span>24/4</span></th>
                <th class="th-other"> Thu <br><span>25/4</span></th>
                <th class="th-other"> Fri <br><span>26/4</span></th>
                <th class="th-other"> Sat <br><span>27/4</span></th>


                </tr>
                <tr>
                    <td class="th-1-m">Today</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">-24hr</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">-48hr</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">-72hr</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">-7 days</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">-14days</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
                <tr>
                    <td class="th-1-m">-21hr</td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>
                    <td class="th-other-m"> </td>

                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    var spanNav = document.getElementById("span-nav")
    spanNav.innerHTML = "Main"
</script>
{% endblock content %}
