{% extends 'yield/navyield.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>YieldHistory|Property Mangement System</title>
	<meta name="viewport"content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
	<link rel="stylesheet" href="{% static 'css/yieldhistory.css' %}">
</head>
<body>
    <div class="history-container">
        <table class="history-table">
            <tr>
                <th class="history-type">  </th>
                <th class="histoy-day"> Sun </th>
                <th class="histoy-day"> Mon </th>
                <th class="histoy-day"> Tue </th>
                <th class="histoy-day"> Wed </th>
                <th class="histoy-day"> Thu </th>
                <th class="histoy-day"> Fri </th>
                <th class="histoy-day"> Sat </th>
                <th class="histoy-day"> Sun </th>
                <th class="histoy-day"> Mon </th>
                <th class="histoy-day"> Tue </th>
                <th class="histoy-day"> Wed </th>
                <th class="histoy-day"> Thu </th>
                <th class="histoy-day"> Fri </th>
                <th class="histoy-day"> Sat </th>
                <th class="histoy-day"> Sun </th>
                <th class="histoy-day"> Mon </th>
                <th class="histoy-day"> Tue </th>
                <th class="histoy-day"> Wed </th>
                <th class="histoy-day"> Thu </th>
                <th class="histoy-day"> Fri </th>
                <th class="histoy-day"> Sat </th>
                <th class="histoy-day"> Sun </th>
                <th class="histoy-day"> Mon </th>
                <th class="histoy-day"> Tue </th>
                <th class="histoy-day"> Wed </th>
                <th class="histoy-day"> Thu </th>
                <th class="histoy-day"> Fri </th>
                <th class="histoy-day"> Sat </th>
                <th class="histoy-day"> Sun </th>
                <th class="histoy-day"> Mon </th>
                <th class="histoy-day"> Tue </th>
                <th class="histoy-day"> Wed </th>
                <th class="histoy-day"> Thu </th>
                <th class="histoy-day"> Fri </th>
                <th class="histoy-day"> Sat </th>
            </tr>
            <tr>
                <td class="history-type-m"> Now Individual Sold</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>

            </tr>
            <tr>
                <td class="history-type-m"> Now Group Sold</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>

            </tr>
            <tr>
                <td class="history-type-m">Now Allotment Sold</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>

            </tr>
            <tr>
                <td class="history-type-m">Now Group Tentative Sold</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>

            </tr>
            <tr>
                <td class="history-type-m">Now Allotment Tentative Sold</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>
                <td class="history-day-m"> 100</td>

            </tr>
            <tr>
                <td class="history-type-m" style="background:#080833; color: #fff;">Now Totel</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>
                <td class="history-day-m" style="background:#080833; color: #fff;"> 500</td>

            </tr>
        </table>
    </div>
</body>
<script>
    var spanNav = document.getElementById("span-nav")
    spanNav.innerHTML = "Rate History"
</script>
{% endblock content %}