.forcast-container{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    margin-top: 90px;
}
.forcast-table{
    width: 900px;
    border: 3px solid lightgrey;
}
.forcast-table th{
    background: #080833;
    color: #fff;
}
.forcast-table .type-forcast{
    background: #03fc6f;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.forcast-table .forcast-type{
    min-width:300px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.forcast-table .forcast-month{
    width: 150px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.forcast-table .forcast-type-m{
    padding-left: 10px;
    background: #080833;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.forcast-table .forcast-month-m{
    padding-left: 10px;
    color: #080833;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #ccc3a3;
    text-align: center;
    border: 1px solid #080833;
}