.setting-container{
    margin-top: 58px;
    padding-top: 20px;
    background:#fff;
    align-items: center;
}
.setting-container .setting-tabs{
    width: 100%;
    background: #fff;
    padding-bottom: 20px;
}
.setting-tabs button{
    border: none;
    margin-left: 30px;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background: #ccc;
    color: #fff;
}

.setting-container .setting-container-1{
    padding-top: 25px;
    width: 100%;
    margin-left: 20px;
}
.setting-table{
    width: 95%;
    background: #f2f2f2;
    border: 1px solid lightgrey;
}
.setting-table th{
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 100px;
    text-align: center;
    background: #080833;
    font-weight: bold;
    color: #fff;
}
#Thresholds select{
    font-size: 18px;
}
.setting-table td{
    text-align: center;
    border: 1px solid #ccc3a3;
}
.btn-delete{
    width: 100%;
    height: 50px;
    background: #080833;
    color: #fff;
    border: none;
}
.setting-table .settig-td, .setting-table .settig-td-m{
    height: 50px;
    background: #ccc3a3;
}
.settig-td select, .settig-td-m select{
    width: 100%;
    height: 100%;
    border: none;
}
.setting-table .settig-td-day{
    background: #080833;
    color: #fff;
}
.setting-container-1 .setting-comp{
    padding-bottom: 20px;
}
.setting-comp button{
    border: none;
    border-radius: 20px;
    width: 90px;
    height: 50px;
    background: #ccc3a3;
    color: #080833;
    font-size: 18px;
}
.setting-table .comp-th{
    min-width: 250px;
    background: #ccc3a3;
    color: #080833;
    height: 30px;
}
.setting-table .comp-th-m{
    height: 50px;
    color: #080833;
}

.setting-table .type-t{
    height: 50px;
    background: #080833;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.type-t select{
    text-align: center;
    font-weight: bold;
    height: 100%;
    width: 100%;
    border: none;
    color: #080833;
    background: #ccc3a3;
}

.setting-table .date-t{
    min-width: 50px;
    max-width: 50px;
    padding-top: 0;
    padding-bottom: 0;
}
.setting-table .date-t{
    height: 50px;
}
.setting-calender-table{
    width: 80%;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}
.setting-calender-table th{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #080833;
    color: #ccc3a3;
    min-width: 250px;
}
.setting-calender-table td{
    height: 50px;
    border: 1px solid #ccc3a3;
}

@media only screen and (max-width:767px){
    .setting-tabs button{
        width: calc(100% / 5);
        margin-left:15px;
        border-radius: 20%;
        margin-top: 10px;
        font-size: 11px;
    }
    p{
        font-size: 15px;
    }
    table th , table td{
        font-size: 13px;
        width: auto;
    }
    .setting-table th, .setting-table td{
        min-width: 50px;
        max-width: 100px;
        font-size: 11px;
        padding-left: 0;
        padding-right: 0;
    }
    .setting-table .date-t{
        font-size: 9px;
    }
}