
h1 {
    color: #090969;
    font-weight: bold;
    margin: 0;
    margin-bottom: 13px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #514A9D;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 5px;
    border: 1px solid #2259e3;
    background-color: #2259e3;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}
.form-input{
    width: 100%;
}
.form-input label{
    width: 19%;
    text-align: left;
    float: left;
    margin-top: 20px;
    color: #080833;
}
.form-input input {
    background-color: #eee;
    border: none;
    padding-left:  25px;
    margin: 8px 0;
    width: 72%;
    height: 48px;
    border-radius: 5px;
    float: right;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    color: #000;
  
}
.container {
    background-color:#ffffff;
    border-radius: 70px 0px 70px 0px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 100%;
    min-height: 480px;
    max-height: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    position: absolute;
}
.sign-up-container {
    right: 0;
    width: 50%;
    position: absolute;
}

.overlay-left {
    left: 0;
    float: left;
}


.overlay-right {
    right: 0;
    float: right;
    right: 0;
}


.container .overlay-right, .container .overlay-left {
    background: #080833;  /* fallback for old browsers */
    background-position: 0 0;
    position: absolute;
    color: #ffffff;
    width: 50%;
    min-height: 100%;
    transition: transform 0.6s ease-in-out;
}


.overlay-panel {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    align-items: center;
    top: 0;
    height: 100%;
    padding-top: 23%;
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel h1 {
  color: white;
}



#info {
  margin-top: 1rem;
  text-align: center; 
}
i{
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    color: #080833;
}
.overlay-panel a{
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px 25px 10px 25px;
}

@media only screen and (max-width:767px){
    .container{
        width: 100%;
        margin-top: auto;
        height: 700px;
    }
    .sign-up-container, .sign-in-container{
        width: 100%;
        float: none;
    }
    .form-input label{
        width: 100%;
        float: left;
    }
    .form-input input{
        width: 100%;
    }
    .form-input i{
        margin-top: 63px;
        left: 10px;
    }
    .overlay-left, .overlay-right{
        display: none;
    }
    .overlay-container{
        display: none;
    }
    .reposns-sign button{
        display: block;
        width: 100%;
        background: #080833;
    }

    .sign-in-container .response, .sign-up-container .response{
        display: block;
        background: #ffffff;
        color: #080833;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
    }
}